@media only screen and (max-width:1030px) {
    .text{
        width: 100px;
    }
}
@media only screen and (max-width:876px ){
   .lists{

    flex-direction: column;
   
   }
   .nav{
    height: 176px;
    flex-direction: column;
    opacity: 0.9;

   }
   .logo{
       position: absolute;
       left: 12px;
       margin: auto;
       padding: 0px 0px;
       margin: 0px 0px;
   }
}
@media only screen and (max-width:620px){
   
    #search{
        display: flex;
        flex-direction: row;
       position: initial;
       padding: 0px 0px;margin: 0px 0ex;
    }
    .nav{
        height: 194px;
    }
    .v-nav{
       height: 24px;
    }
    .text{
        position: initial;
        /* padding: 0px 0px; */
        margin: 10px 0px;

    }
    .sbox{
        /* background-color: yellow; */
        padding: 0px 0px;
        margin: 0px 0px;

    }
    .btn{
        /* background-color: green; */
        padding: 0px 0px;
        margin: 0px 0px;
    }
    .box{
        flex-direction: column;
    }
    .box-img{
        margin: auto;
       
    }
    .sec-img{
      height: 120px;
    }
    .sec-text{
        font-size: 10px;
    }
    .burger{
        display: block; 
        position: absolute;
        top:12px;
        right: 6px;
        cursor: pointer;
    
    }
    .v-class{
        display: none;
    }
    .line{
        background-color: white;
        margin: 3px 3px;
        width: 28px;
        height: 3px;
        border-radius: 3px;
    }
}
@media only screen and (max-width:262){
    .logo-img{
        display: none;
    }
    .v-logo{
        display: block
        
    }

}